@charset "ISO-8859-1";

body{
    background-color: whitesmoke;
  }
  
  ul li a b{
     color: yellow;
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .menuTemplate3
   {
       margin: 0 auto; width: auto;float:left;
       behavior: url("/horizontal/menuh/cssmenu.htc"); 
       position:relative;
       z-index:4;
       height: 50px;
       width: 100%;
       line-height: 48px;
       background: #444;
       border: 1px solid #111;
       font-family: Arial, Helvetica, sans-serif;
       list-style: none;
       padding: 0;
       position: fixed;
   }
   
   .menuTemplate3 li
   {
       padding: 0;
       float: left;
       height: 36px;
       position: relative; 
       color: #EEE;
       z-index:5;
   }
   
   .menuTemplate3 li:hover, .menuTemplate3 li.onhover
   {
       border-top:0;
   }
   .menuTemplate3 a
   {
       padding: 0 30px;
       line-height: 36px; 
       font-size: 12px;
       font-weight: normal;
       display: inline-block;
       outline: 0;
       text-decoration: none;
       color: #FFF;
       position: relative;
       text-shadow: 2px 2px 5px orange;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
  
   .menuTemplate3 li:hover a, .menuTemplate3 li.onhover a
   {
       background-color: #222;
       color: #FFF;
       z-index: 9;
       padding-top: 5px;
   }
  
   .menuTemplate3 li:hover a
   {
       color: blue;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       z-index: 9;
   }
  
   .menuTemplate3 a.arrow
   {
       background: url(arrow.gif) no-repeat right center;
   }
    
           
     
   .menuTemplate3 li.menuRight
   {
       float: right;
       margin-right: 0px;
   }
           
           
   .menuTemplate3 .drop
   {
       position: absolute;
       z-index:5;
       left: -9999px;
       border: 1px solid #000;
       background: #222;           
       text-align: left;
       padding: 20px;  
       top:35px;
       color:#999;
   }
   
   .menuTemplate3 .drop a
   {
       padding-left: 0px;
       padding-right: 0px;
       line-height: 26px;
       font-size: 12px;
       font-weight: normal;
       display: inline;
       text-align: left;
       
       position: static;
       z-index: 0;
   }
   
   .menuTemplate3 li:hover .drop, .menuTemplate3 li.onhover .drop
   {
       left: -1px;/*Use this property to change offset of the dropdown*/
   }
   .menuTemplate3 li:hover .dropToLeft, .menuTemplate3 li.onhover .dropToLeft
   {
       left: auto;
       right: -1px;
   }
   .menuTemplate3 li:hover .dropToLeft2, .menuTemplate3 li.onhover .dropToLeft2
   {
       left: auto;
       right: -60px;
   }
   
  /* tab */
  
  .tabs {
      display: flex;
      flex-wrap: wrap;  
      padding-left: 30px;
      padding-right: 50px;
    
  }
  
  .tabs label {
      order: 1; 
      display: block;
      padding: 1rem 2rem;
      margin-right: 0.2rem;
      cursor: pointer;
      font-weight: bold;
      background: #90CAF9;
      transition : background ease 0.2s;
  }
   
  .tab .select{
      background: white;
      display: inline;
      margin-right: -90px;
      margin-left: 250px;
      border-radius: 5px;
      padding-top: 10px;
      
  }
  
  
  select{
      margin-left: 100px;
      width: 680px;
      height: 30px;
      
  }

  
  .tabs .tab {
    order: 99;  
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .tabs input[type="radio"] {
      display: none;
  }
  .tabs input[type="radio"]:checked + label {
      background: #fff;
  }
  .tabs input[type="radio"]:checked + label + .tab {
      display: block;
  }
  
  .tab .tab-t{
      padding-top: 30px;
      padding-left: 30px;
  }

  @media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
      order: initial;
    }
    .tabs label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }
  
  .poster{
    border: 1px solid;
      height: 400px;
      width: 500px;
  }
  
  img{
    height: 400px;
    width: 500px;
  }

.tab-t input{
    height: 50px;
    width: 700px;
    font-size: 20px;
    margin-bottom: 20px;
}

  table{
      margin-top: 40px;
      margin-bottom: 200px;
      margin-left: 250px;
      background: #2980B9;  
      background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
      background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
  }
 
  table tr td{
     height: 50px;
     width: 200px;
     border: none;
     border-bottom: 1px solid;
  }
  tr th{
    border: none;
    color: #e91e63;
  }
  table{
      padding: 20px;
      border-radius: 10px;
      padding-bottom: 20px;
  }
 td{
     padding: 5px;
     border-radius: 2px;
     padding-left: 60px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

  
  /* footer */
  .footer{
      margin-top: 5px;
      width: 100%;
      height: 100%;
      background-color: aquamarine;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  body{
      line-height: 1.5;
      font-family: 'Poppins', sans-serif;
  }
  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
  }
  .container{
      max-width: 1170px;
      margin:auto;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  ul{
      list-style: none;
  }
  .footer{
        background-color: #24262b;
      padding: 20px 0;
      margin-top: 80px;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
  }
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  
  
  
  
  